@model IEnumerable<EticaretMVC.Entity.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5">
    <br /><br />
    <h2>Kategori Listesi</h2>
    <hr />
    <p>
        <!--
        Buton texti:Yeni Kategori
        metod adı: Create
        Metoda gönderilecek: null
        Butona class verdik yani şekil verdik: new { class = "btn btn-primary" }  -->
        @Html.ActionLink("Yeni Kategori", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="width:200px"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) 
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>

    <hr />
</div>